body {
    display: flex;
    background: #8d9090;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    width: 1400px;
    height: 800px;
    flex-direction: column;
}

.main_block_1 {
    width: 1000px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #4f4fdb;
    border-radius: 40px;
    row-gap: 5px;
}

.line {
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;
    flex-grow: 1;

}

.lightgray {
    background: lightgray;
}

.darkblue {
    background: #030324;
}

.radius3px {
    border-radius: 5px;
}

.little_header_1 {
    height: 10px;
    width: 70px;
}

.little_header_2 {
    width: 20px;
    height: 10px;
}

.width_height150px {
    width: 150px;
}

.circle_border {
    border: 1px solid lightblue;
}

.radius50px {
    width: 200px;
    height: 50px;
    border-radius: 30px;
}

.radius20px {
    border-radius: 20px;
}

.element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-grow: 5;
    width: 100%;
    column-gap: 25px;

}

.element_square {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.square {
    width: 180px;
    height: 180px;
    border-radius: 40px;
}

.main_block_2 {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 40px;
}

.element_circle {
    /*border: 1px solid #e4f5f5;*/
    height: 270px;
    width: 270px;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.line_block_1 {
    width: 150px;
    height: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: space-between;
}

.line_block_1 > div {
    height: 10px;
    width: 70px;

}

.line_block_2 {
    width: 150px;
    height: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    justify-content: space-between;
}

.line_block_2 > div {
    height: 5px;
    width: 40px;

}