body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 47%;
    margin: 20px;
    border: 1px solid cornflowerblue;
    box-shadow: 1px 1px 32px #5e8ad9;
    border-radius: 20px;
    padding-bottom: 50px;
}

.user:hover {
    background: #b6cdf6;
}

.details {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}
.home{
    padding: 15px 50px 15px 50px;
}